{{!-- First Jumb --}}
<div class="jumbotron bg-light rounded-0 text-center" style=" margin-bottom: 0px;">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn1-style"  href="/plans" role="button">Start your free trial</a>
</div>
{{!-- Second Jumb --}}
<div class="jumbotron text-white rounded-0 text-center" style="background-color: #051c2c; margin-bottom: 0px">
  <h1 class="display-4">Fluid jumbotron</h1>
  <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  <div class="card-deck">
    <div class="card" style="border-radius: 0; ">
      <img
        src="https://cdn.shopify.com/shopifycloud/brochure/assets/merchants/miss-boon/home-example-small-8bb452f93af6069b33cdc00d9fab7cacaa32d34684bda58e13eb25faadeb2b72.jpg"
        class="card-img-top" alt="...">
    </div>
    <div class="card" style="border-radius: 0">
      <img
        src="https://cdn.shopify.com/shopifycloud/brochure/assets/merchants/then-i-met-you/home-example-small-873ea125aea32650f2e2c282609c62a63be928583b8830cc67df98feff30ca89.jpg"
        class="card-img-top" alt="...">
    </div>
    <div class="card" style="border-radius: 0">
      <img
        src="https://cdn.shopify.com/shopifycloud/brochure/assets/merchants/detour-coffee/home-example-small-10f5c2735cb72e18af4d47a31a72326b3eb1f0611963d69d12a51ed31bed4acd.jpg"
        class="card-img-top" alt="...">
    </div>
    <div class="card" style="border-radius: 0">
      <img
        src="https://cdn.shopify.com/shopifycloud/brochure/assets/merchants/corey-moranis/home-example-small-6cf57deaaf9e7c38f45de3d300080353843430c1be3ab0ed3cd5e21b93157de8.jpg"
        class="card-img-top" alt="...">
    </div>
  </div>
</div>
{{!-- Third Jumb --}}
<div class="jumbotron text-white rounded-0 text-center" style="background-color: #051c2c; margin-bottom: 0px">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
  <div class="card-deck">
    <div class="card" style="background-color: #051c2c; border-radius: 0; border: none">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card" style="background-color: #051c2c; border: none">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card" style="background-color: #051c2c; border: none">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
</div>
</div>
{{!-- Fourth Jumb --}}
<div class="jumbotron bg-white rounded-0 text-center">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>



 