<div class="jumbotron text-center bg-light rounded-0">
  <h1 class="display-4">Hello, {{user.name}}</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>

<div class="media mb-3">
  <img src={{user.picture}} class="align-self-start mr-3" alt="...">
  <div class="media-body ">
    <h5 class="mt-0">{{user.email}}</h5>
    <p>Your subscription is: {{user.subscription}}</p>
  </div>
</div>